
.app{
  background-image: url("https://images.unsplash.com/photo-1593531944206-2195b2e49bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}


footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.card{
  margin-top: 2rem;
  text-align: center;
  
  
}
.form{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

